.icon-button {
    background: transparent;
    border: none;
    color: black; /* Basic black color */
    font-size: 18px; /* Adjust size as needed */
    padding: 20px;
    /* padding-right: 50px; */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.icon-button:hover {
    color: grey; /* Change color on hover */
}

.item-count {
    font-size: 14px; /* Adjust item count size */
    margin-left: 5px; /* Space between icon and count */
}
